.intecoSection {
    max-width: 1180px;
    min-height: 560px;
    background-image: url(./img/inteco.png);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    margin: 50px auto;
    padding: 30px;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intecoSection h1 {
    background-color: transparent;
    font-family: 'TT Travels Bold';
    font-size: clamp(28px, 2.42vw, 48px);
    letter-spacing: -4%;
    line-height: 100%;
    margin: 0px;
}

.intecoText {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    height: 100%;
}

.intecoText p {
    font-family: 'Helvetica Neue Regular';
    color: rgba(255, 255, 255, 0.8);

}


.intecoText__left {
    flex: 1;
    min-width: 280px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.intecoText__leftHeader {
    max-width: 400px;
    margin-bottom: 20px;
}

.intecoText__left div {
    background-color: transparent;
    max-width: 280px;
}

.intecoText__left h4 {
    font-family: 'TT Travels';
    font-size: clamp(20px, 1.3vw, 26px);
    margin-bottom: 10px;
}

.intecoText__left p {
    font-family: 'Helvetica Neue Regular';
    font-size: clamp(16px, 1vw, 20px);
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.intecoText hr {
    background-color: rgba(234, 227, 217, 0.627);
    width: 100%;
    height: 1px;
    border: none; 
    box-shadow: none;
    display: none;
}

.intecoText__right {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
}

.intecoText__right h6 {
    background-color: transparent;
    font-family: 'Helvetica Neue Medium';
    font-size: 16px;
    margin-bottom: 10px;
}

.intecoText__right a {
    font-family: 'Helvetica Neue Light';
    font-size: 16px;
    color: rgba(255, 255, 255, 0.751);
    text-decoration-color: rgba(255, 255, 255, 0.482);
    text-underline-offset: 3px;
    letter-spacing: 0%;
    margin: 6px 0px;
}

.intecoText__right a:hover {
    color: rgba(255, 255, 255, 1);
}

